@model IEnumerable<Celo.Model.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href='@Url.Content(@"~/Styles/main.css")' rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="search">
        <form method="get">
            <div>
                <label for="maxRecords">Num. Records:</label>
                <input type="number" name="maxRecords" value="@ViewBag.MaxRecords" />
            </div>
            <div>
                <label for="nameSearch">Name Search:</label>
                <input type="text" name="nameSearch" value="@ViewBag.NameSearch" />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </form>
    </div>
    <br />
    <div id="data">
        <table>
            <thead>
                <tr>
                    @{ var tempObj = new Celo.Model.User();}
                    <td>
                        @Html.DisplayNameFor(model => tempObj.Id)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => tempObj.Title)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => tempObj.FirstName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => tempObj.LastName)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => tempObj.Email)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => tempObj.Birthday)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => tempObj.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => tempObj.Gender)
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @{ foreach(var user in Model)
                    {
                        <tr>
                            <td>
                                <div>
                                    <a href='@Url.Action("Get", new {id = user.Id })'>
                                        <img src="@user.ThumbnailPath" />
                                    </a>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.Birthday)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => user.Gender)
                            </td>
                            <td>
                                @Html.ActionLink("Update Details", "Update", new { id = user.Id })
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </body>
    </html>
